<%- include('../partials/headAndNav', {pageName: "Update"}) %>

    <h1>EDIT <%= thingToEdit.name %></h1>
    <form action="/pokemon/<%= thingToEdit._id %>?_method=PUT">
        <div>
            <label for="name">Update Pokemon's Name</label>
            <input type="text" name="name" id="name" value=<%= thingToEdit.name%>>
        </div>
        <div>
            <label for="image">Update Pokemon's Image URL</label>
            <input type="text" name="image" id="image" value=<%= thingToEdit.image %>>
        </div>
        <div>
            <label for="element_type">Pokemon Type</label>
            <input type="text" name="element_type" id="element_type" value=<%= thingToEdit.element_type %>">
        </div>
        <input type="submit" value="Edit <%= thingToEdit.name %>">
    </form>

<%- include('../partials/footer') %>