<%- include('../partials/headAndNav', {pageName: "All Pokemon"}) %>
    
        <h1>Name: <%= pokemon.name %></h1>
        
        <img src=<%= pokemon.image %> alt=<%= pokemon.name %>>
        <p>Type: <%= pokemon.element_type %></p>
        <hr />
    <% } %>
<%- include('../partials/footer.ejs') %>
